/** FINAL Responsive Spiky Blob Visualization CSS **/

html, body {
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#defaultCanvas0 {
  width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  color: #ababab;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
	color:white;
}
